<!-- <div style='width: 100%; height: 450px;color:#000000;'>
		<div parallax speed="10" src='assets/img/portfolio.jpg'> -->
<div class="row" style="color:#ffffff;">
	<div class="col-sm-12">
		<h2>Recent Projects in past few years</h2><br>
		<div class="row">
			<div class="col-sm-6">
				<div class="blockquote-box clearfix">
					<div class="square pull-left">
						<img [src]="centuryLinkLogo" alt="Centurylink" class="" />
					</div>
					<h3>CenturyLink</h3>
					<p>
						<span>Project:Federal next gen/Ns2020<br></span>
						<span>Front end: Angular2,Boostrap,Html5,SystemJs,CSS3,Liferay</span>
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blockquote-box clearfix">
					<div class="square pull-left">
						<img [src]="centuryLinkLogo" alt="Centurylink" />
					</div>
					<h3>CenturyLink</h3>
					<p>
						<span>Project: Control center - Enterprise application <br></span>
						<span>Front end: Angular1,Primefaces,Jquery,Boostrap,Html5,CSS3,Liferay</span>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="blockquote-box clearfix">
					<div class="square pull-left">
						<img [src]="centuryLinkLogo" alt="Centurylink" class="" />
					</div>
					<h3>CenturyLink</h3>
					<p>
						<span>Project: Cvoip - Residential portal<br></span>
						<span>Front end: Angular1,Jquery,Boostrap,Html5,CSS3</span>
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="blockquote-box clearfix">
					<div class="square pull-left">
						<img [src]="gmLogo" alt="Generalmotors" class="" />
					</div>
					<h3>General motors</h3>
					<p>
						<span>Project: BOD - legacy migration<br></span>
						<span>Front end: KnockoutJs,JSP,JSPF,Jquery,JavaScript,Boostrap,Html5,CSS3</span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="blockquote-box clearfix">
					<div class="square pull-left">
						<img [src]="bestbuyLogo" alt="BestBuy" class="" />
					</div>
					<h3>Bestbuy</h3>
					<p>
						<span>Project: Digital Channel testing portal-internal<br></span>
						<span>Front end: Jquery,JavaScript,Boostrap,Html5,CSS3</span>
					</p>
				</div>
			</div>
			<div class="col-sm-6" style="color:#ffffff;">
				<div class="blockquote-box clearfix">
					<h3>And more....
					</h3>
					<p>
						For more information please
						<a style="color:#ffffff;" [routerLink]="['/contact']">
							<u><i>contact me</i></u>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2 style="color:#ffffff;">Skills</h2>
		<div class="cube" id="cubeId" #cube>
		</div>
	</div>
</div>

<!--	</div>
</div> -->