<!-- <div style='width: 100%; height: 450px;color:#000000;'>
		<div parallax speed="10" src='assets/img/portfolio.jpg'> -->
<div class="row">
	<div class="col-sm-12" style="color:#ffffff;">
		<h2>portfolio</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="cube" id="cubeId" #cube>
		</div>	
	</div>
	<div class="col-sm-12" style="color:#ffffff;">
			<p>For more information please
				<a style="color:#ffffff;" [routerLink]="['/contact']">
					<u><i>contact me</i></u>
				</a>.</p>
	</div>
</div>

<!--	</div>
</div> -->