<!-- <div style='width: 100%; height: 450px;color:#000000;'>
		<div parallax speed="10" src='assets/img/portfolio.jpg'> -->
<div class="row">
	<div class="col-sm-12">
		<h2>portfolio</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>Client Technologies:AngularJs, Angular2, JQUERY,Primefaces,NodeJs,Java Script,Karma grunt,Selenium,Protractor,AJAX, CSS,
			HTML 5,Liferay,Bootstrap,Less</p>
	</div>
	<div class="col-sm-12">
		<p>For more information please
			<a style="color:#000000;" [routerLink]="['/contact']">
				<u><i>contact me</i></u>
			</a>.</p>
	</div>
	<div class="col-sm-12">
		<div class="cube" id="cubeId" #cube>
		</div>	
	</div>
</div>

<!--	</div>
</div> -->