<div class="header">
	<div class="middle">
		<div class="row header-container">
			<div class="col-sm-7">
				<h2 class="header-title" style="color: #ffffff;text-align:center;"><strong>Praveen chand Kasarla</strong></h2>
			</div>
			<div class="col-sm-5" style="padding-right:0px;">
				<nav id="menu" class="nav">
					<ul>
						<li>
							<a [routerLink]="['contact']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" title="Contact"><span  class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span>Contact</span></a>
						</li>
						<li>
							<a [routerLink]="['portfolio']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" title="Portfolio"><span  class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span><span>Portfolio</span></a>
						</li>
						<li>
							<a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" title="Home">
								<span  class="icon"> <i class="fa fa-home" aria-hidden="true"></i></span><span>Home</span>
							</a>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<main [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
</main>

<div class="footer-dock"></div>
<div class="footer">
	<div class="middle">
		<div class="row">
			<div class="col-sm-12" style="color:#ffffff;">
				<p><small>Designed and build by Praveen Kasarla. Technologies used Angular4,TypeScript,WebPack Aot Compiler,Parallax Design,Bootstrap and Retina responsive design
				   </small></p>
			</div>
		</div>
	</div>
</div>